{% extends 'layout.html' %}

{% block body %}
<section>
    {% if team %}
        <h3 class="d-inline">Welcome to {{team.mascot}}</h3>
        {% if current_user %}
            <form class="d-inline ml-2" method="POST" action="{{url_for('profile.user_follow')}}">
                <input class="d-none" name="team_id" value={{team.id}} />
                {% if is_following %}
                    <button type="submit" class="mb-3 btn btn-danger">Unfollow</button>
                {% else %}
                    <button type="submit" class="mb-3 btn btn-primary">Follow</button>
                {% endif %}
            </form>
        {% endif %}
        <hr class="my-4">
        <img src="{{team.logos}}" alt="school logo" class="img-thumbnail rounded w-25 mb-5" />

        <ul>
            <li>School: {{team.school}}</li>
            <li>Mascot: {{team.mascot}}</li>
            <li>Abbreviation: {{team.abbreviation}}</li>
        </ul>

        <a href="{{url_for('main.conferences', conference_id=team.conference_id)}}">Team's Conference</a>

        <h1>Comments</h1>
        <div class="col-sm-5 col-md-6 col-12 pb-4">
        {% for comment in comments %}
            <div class="darker mt-4 text-justify"> <img src="https://i.imgur.com/CFpa3nK.jpg" alt="avator" class="rounded-circle" width="40" height="40">
                <h4 class="d-inline">
                    <a href="{{url_for('profile.show_user_profile', user_id=comment.user.id)}}">{{comment.user.username}}</a>
                </h4>
                <span>- 20 October, 2018</span>
                <p class="mt-4">{{comment.comment}}</p>
            </div>
        {% endfor %}
        </div>

        <div class="col-sm-6 col-md-8">
            <h4>Add comment</h4>
            <form method="POST" action="{{url_for('main.comments', team_id=team.id)}}">
              <div class="form-group">
                <label for="comment">Comment</label>
                <textarea class="form-control" name="comment" rows="3"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Comment</button>
            </form>
        </div>

    {% elif teams %}
        <h3>List of Teams</h3>
        <hr class="my-4">
        <div class="mb-3">
            <a href="{{url_for('main.register_team')}}">Add a Team</a>
        </div>
        <ul>
            {% for team in teams %}
            <li class="mb-2"><a href="{{url_for('main.teams', team_id=team.id)}}">{{team.school}} to {{team.mascot}}</a></li>
            {% endfor %}

        </ul>
    {% endif %}

</section>
{% endblock %}
